Repository googleapis/python-bigquery-storage, pull requests merged in 2021-07, with the labels that each got.

#228 feat: `read_session` optional to `ReadRowsStream.rows()`
  google/cloud/bigquery_storage_v1/reader.py
  tests/system/conftest.py
  tests/unit/test_reader_v1.py
  tests/unit/test_reader_v1_arrow.py
Labels: api: bigquerystorage, cla: yes

#224 docs: pandas DataFrame samples are more standalone
  samples/conftest.py
  samples/quickstart/quickstart_test.py
  samples/to_dataframe/noxfile.py
  samples/to_dataframe/read_query_results.py
  samples/to_dataframe/read_query_results_test.py
  samples/to_dataframe/read_table_bigquery.py
  samples/to_dataframe/read_table_bigquery_test.py
  samples/to_dataframe/read_table_bqstorage.py
  samples/to_dataframe/read_table_bqstorage_test.py
  samples/to_dataframe/requirements.txt
Labels: api: bigquerystorage, cla: yes, samples

#240 fix(deps): pin 'google-{api,cloud}-core', 'google-auth' to allow 2.x versions
  setup.py
Labels: api: bigquerystorage, automerge, cla: yes

#246 docs: remove duplicate code samples
  samples/to_dataframe/main_test.py
Labels: api: bigquerystorage, cla: yes, samples
